<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fab fa-medrt"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
            </li>
            {{#if user}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Исследования
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/antropology">Антропометрия</a>
                    <a class="dropdown-item" href="/morphology">Морфология</a>
                    <a class="dropdown-item" href="/spyro">Спирография</a>
                    <a class="dropdown-item" href="/shg">Проба Штанге/Генчи</a>
                    <a class="dropdown-item" href="/pr">Проба Руфье</a>
                    <a class="dropdown-item" href="/ecg">ЭКГ</a>
                    <a class="dropdown-item" href="/op">Ортостатическая проба</a>
                    <a class="dropdown-item" href="/import">Импорт данных обследований</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Анализ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/analysis/antrmorph">Данные Антропометрии и Морфологии</a>
                    <a class="dropdown-item" href="/analysis/pr">Данные пробы Руфье</a>
                    <a class="dropdown-item" href="/analysis/shg">Данные пробы Штанге/Генчи</a>
                    <a class="dropdown-item" href="/analysis/op">Данные ортостатической пробы</a>
                    <a class="dropdown-item" href="/analysis/spyro">Данные спирографии</a>
                    <a class="dropdown-item" href="/analysis/ecg">Данные ЭКГ</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Студенты
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/students">Список</a>
                    <a class="dropdown-item" href="/students/add">Добавить</a>
                    <a class="dropdown-item" href="/students/import">Импорт</a>
                </div>
            </li>
            {{/if}}
        </ul>
        <ul class="navbar-nav ">
            {{#if user}}
            <li class="nav-item">
                <p class="nav-p">{{user.username}}</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register" {{checkStatus user.status}}>Регистрация</a>
            </li>
            <li class="bav-item">
                <a class="nav-link" href="/users/logout">Выйти</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Вход</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>