<div class = "container">
    <h1 class = "logo-img"><i class = "fab fa-medrt"></i></h1>
    <h1 class="logo-header">Добро пожаловать!</h1>
    <div class="logo-container">
        <a href="/users/login" class = "btn btn-lg btn-dark logo-login">Вход</a>
        <a href="/users/register" class = "btn btn-lg btn-dark logo-register">Регистрация</a>
    </div>
</div>