<div class = "container">
    <h1>Добро пожаловать!</h1>
    <p>Для получение доступа к "потом придумаю", пожалуйста, зарегестрируйтесь или авторизируйтесь.</p>
    <a href="/users/register" class = "btn btn-md btn-dark">Регистрация</a>
    <a href="/users/login" class = "btn btn-md btn-dark">Вход</a>
</div>