.nav-item{
    border-bottom: 1px #343a40 solid;
}
.nav-item:hover{
    border-bottom: 1px white solid;
    color: white;
}
.dropdown-menu{
    min-width: 300px;
}
.dropdown-item{
    padding-left: 1rem;
}
.container{
    margin-top: 100px;
}
.nav-p{
    margin: 0;
    padding: 8px;
    color: white;
}
.radio{
    transform: scale(1.5);
    margin: 0 10px;
}
.table-column-header{
    cursor: pointer;
}
.table .thead-dark th.table-column-header:hover{
    background-color: #0069d9;
    border-color: #007bff;
}
.arrow{
    float: right;
    margin-top: 5.5px;
}