<form action="/students/import" method="POST">
    <div class="form-group">
        <input class="form-control" name="file" type="file" required>
        <button class="btn btn-large btn-primary full-btn mt-2">Импорт</button>
    </div>
</form>